.sub-01 {
  padding: 25px 0 120px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  @include mediaQuerySp($spMaxWidth) {
    width: 100%;
    padding: 20px 0 85px;
  }
}

.th-inner {
  width: 90%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
  .thanks-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    margin: 0 auto;
  }
  h3 {
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
    padding-top: 80px;
    @include mediaQuerySp($spMaxWidth) {
      width: 100%;
      padding-top: 0;
    }
  }
  p {
    font-size: 30px;
    color: $col-black;
    padding: 60px 0;
    line-height: 2;
    font-family: $jp-font-style;
    font-weight: bold;
    line-height: 1.7;
    @include mediaQuerySp($spMaxWidth) {
      font-size: 15px;
      padding: 30px 0;
    }
  }
  .btn-submit {
    width: 90%;
    margin: 0 auto;
    a {
      max-width: 330px;
      margin: 0 auto;
      background: $bg-yellow;
      padding: 10px 0;
      text-align: center;
      color: $col-white;
      font-size: 26px;
      border: 1px solid $col-yellow;
      display: block;
      font-family: $jp-font-style;
      font-weight: bold;
      &:hover {
        background: $bg-white;
        color: $col-black;
        border-color: $bdcol-hover;
      }
      @include mediaQuerySp($spMaxWidth) {
        font-size: 18px;
        max-width: 230px;
        padding: 8px 0;
      }
    }
  }
}