///////////////////////////// Variables  ////////////////////////////////////

$bodyLineHeight: 1.6;
$bodyLetterSpacing: 0.1em;
$anchorTransition: 0.5s;
$anchorHoverTransition: 0.5s;

$main-color: #E68F12;
$sec-color: #000;

$pcMinWidth: 768px;
$spMaxWidth: 768px;
$sp-xs-MaxWidth: 480px;
$sp-small-MaxWidth: 750px;

///////////////////////////// Media  ////////////////////////////////////

@import "common/maxin";
@import "common/media_query";

///////////////////////////// Common  ////////////////////////////////////

@import "common/reset";
@import "common/all";

///////////////////////////// Header and Nav  ////////////////////////////////////

@import "header/header";
@import "header/nav";

///////////////////////////// TOP  ////////////////////////////////////

@import "top_page/top";

///////////////////////////// SUB  ////////////////////////////////////

// @import "sub_scss/kyaw";
@import "sub_scss/khine";
// @import "sub_scss/naw";
@import "sub_scss/poe";

///////////////////////////// Footer  ////////////////////////////////////

@import "footer/footer";
