///////////////////////////// Variables  ////////////////////////////////////
$bodyLineHeight: 1.6;
$bodyLetterSpacing: 0.1em;
$anchorTransition: 0.5s;
$anchorHoverTransition: 0.5s;
$main-color: #E68F12;
$primary-color: #fff;
$secondary-color: #000;
$border-hover:#595757;
$pcMinWidth: 768px;
$spMaxWidth: 768px;
$sp-xs-MaxWidth: 750px;
$sp-small-MaxWidth: 750px;
$secondary-font: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$jp-font-style: "游明朝",
YuMincho,
"ヒラギノ明朝 ProN W3",
"Hiragino Mincho ProN",
"HG明朝E",
"ＭＳ Ｐ明朝",
"ＭＳ 明朝",
serif;
///////////////////////////// Media  ////////////////////////////////////
@import "common/maxin";
@import "common/media_query";
///////////////////////////// Common  ////////////////////////////////////
@import "common/reset";
///////////////////////////// Header and Nav  ////////////////////////////////////
@import "header/header";
@import "header/nav";
///////////////////////////// TOP  ////////////////////////////////////
@import "top_page/top";
@import "common/all";
///////////////////////////// SUB  ////////////////////////////////////
@import "sub_page/thank";
///////////////////////////// Footer  ////////////////////////////////////
@import "footer/footer";