footer {
  width: 100%;
  background-color: $primary-color;
  padding-top: 10px;
}

.footer-logo {
  max-width: 395px;
  width: 70%;
  margin: 50px auto 70px;
  @include mediaQuerySp($spMaxWidth) {
    margin: 50px auto;
  }
}

.footer-wrap {
  justify-content: space-between;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto 30px;
}

.footer-address {
  width: 33.3%;
  color: $secondary-color;
  text-align: center;
  padding: 0 20px;
  border-right: 2px solid $main-color;
  @include mediaQuerySp($spMaxWidth) {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid $main-color;
    text-align: left;
    padding: 20px 0;
  }
  &:last-child {
    border: none;
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    line-height: 2;
    font-weight: 300;
  }
}

.copy-right {
  font-size: 12px;
  color: $primary-color;
  text-align: center;
  background-color: $main-color;
  padding: 10px 0;
}