body {
  background-image: url('assets/img/body_bg.jpg');
  background-size: 100%;
}
.ourworks-wrapper {
  max-width: 100%;
  width: 1000px;
  margin: 0px auto;
  .ourworks-inner {
    .title {

    }
    .desc {
      text-align: center;
    }
    .desc {
    }
  }
}
