// *************** header  *************** //
header {
  position: fixed;
  top: 20px;
  width: 100%;
  background-color: transparent;
}

.hd-inner {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 25%;
    max-width: 350px;
  }
}

// *************** nav-menu  *************** //
.nav-list {
  li {
    padding: 0 20px;
    box-sizing: border-box;
    a {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      &:hover {
        color: #E68F12;
      }
    }
  }
}