/************************* Common *******************************/

* {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: $bodyLineHeight;
  letter-spacing: $bodyLetterSpacing;
  font-variant-ligatures: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #fff;
  transition: $anchorTransition;
  -webkit-transition: $anchorTransition;
  -moz-transition: $anchorTransition;
  -ms-transition: $anchorTransition;
  -o-transition: $anchorTransition;
}

a:hover {
  transition: $anchorHoverTransition;
  -webkit-transition: $anchorHoverTransition;
  -moz-transition: $anchorHoverTransition;
  -ms-transition: $anchorHoverTransition;
  -o-transition: $anchorHoverTransition;
}

.d-fl {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


/*******************  for lazy-loading ***********************/

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*******************  for lazy-loading ***********************/

.sp,
.sp-only {
  @include mediaQueryPc($pcMinWidth) {
    display: none;
  }
  @include mediaQuerySp($spMaxWidth) {
    display: block;
  }
}

.pc,
.pc-only {
  @include mediaQueryPc($pcMinWidth) {
    display: block;
  }
  @include mediaQuerySp($spMaxWidth) {
    display: none;
  }
}

.fade-in {
  animation-name: ani;
  -webkit-animation-name: ani;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('assets/img/body_bg.jpg');
  background-size: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.cmn-ttl {
  text-align: center;
  span {
    display: block;
    color: $main-color;
    font-size: 14px;
    font-family: $secondary-font;
    font-weight: 600;
    line-height: 3;
    @include mediaQuerySp($spMaxWidth) {
      font-size: 12px;
    }
  }
  img {
    max-width: 200px;
    vertical-align: middle;
    @include mediaQuerySp($spMaxWidth) {
      max-width: 140px;
    }
  }
}

.mv-wrap {
  position: relative;
  padding: 13% 0;
  background: url(assets/img/top_main_cover.jpeg) no-repeat center;
  background-size: cover;
  z-index: 0;
  @include mediaQuerySp($spMaxWidth) {
    padding: 30% 0 20% 0;
  }
  .mv-inner {
    width: 80%;
    margin: 0 auto;
    h2 {
      width: 100%;
      max-width: 1000px;
      @include mediaQuerySp($spMaxWidth) {
        max-width: 350px;
      }
    }
  }
}

.top-entry {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30%;
  z-index: 99;
  @include mediaQuerySp($spMaxWidth) {
    width: 50%;
    bottom: 30px;
    right: 0;
  }
}

#company {
  padding: 100px 0;
  @include mediaQuerySp($spMaxWidth) {
    padding: 50px 0 30px;
  }
  .company-number {
    position: absolute;
    width: 37%;
    top: -12px;
    left: -16px;
    @include mediaQuerySp($spMaxWidth) {
      width: 35%;
      top: -15px;
      left: -10px;
      max-width: 110px;
    }
  }
  .company-inner {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  .company-list {
    margin-top: 100px;
    justify-content: space-between;
    @include mediaQuerySp($spMaxWidth) {
      margin-top: 50px;
    }
    li {
      position: relative;
      width: 30%;
      box-shadow: 4px 2px 9px rgba(0, 0, 0, 0.3);
      background-color: #FFF;
      @include mediaQuerySpXs($sp-xs-MaxWidth) {
        width: 100%;
        margin-bottom: 50px;
      }
      h3 {
        padding: 20px;
        font-size: 28px;
        color: $main-color;
        box-sizing: border-box;
        font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        font-weight: bold;
        @include mediaQuerySp($spMaxWidth) {
          padding: 15px 5px;
          font-size: 20px;
        }
        span {
          display: block;
          color: $sec-color;
          font-size: 16px;
          font-family: 'Noto Sans JP', sans-serif;
          font-weight: 300;
          @include mediaQuerySp($spMaxWidth) {
            font-size: 14px;
          }
        }
      }
      &:nth-child(1) {
        figure {
          padding: 110px 0;
          background: url(assets/img/01.jpeg) no-repeat center;
          background-size: cover;
        }
      }
      &:nth-child(2) {
        figure {
          padding: 110px 0;
          background: url(assets/img/02.jpeg) no-repeat center;
          background-size: cover;
        }
      }
      &:nth-child(3) {
        figure {
          padding: 110px 0;
          background: url(assets/img/03.jpg) no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}

.ourworks-wrapper {
  background-image: url('assets/img/bg_center.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .ourworks-overlay {
    .ourworks-inner {
      max-width: 90%;
      width: 900px;
      margin: 0px auto;
      padding: 80px 0px;
      @include mediaQuerySp($spMaxWidth) {
        padding: 60px 0px;
      }
      .title {
        text-align: center;
        h3 {
          color: #E68F12;
          font-size: 14px;
          font-family: $secondary-font;
          font-weight: 600;
          @include mediaQuerySp($spMaxWidth) {
            font-size: 12px;
          }
        }
        img {
          height: 40px;
          margin-top: 10px;
          @include mediaQuerySp($spMaxWidth) {
            height: 30px;
          }
        }
      }
      .desc {
        margin: 75px 0px 20px;
        @include mediaQuerySp($spMaxWidth) {
          margin: 50px 0px 0px;
        }
        p {
          color: #fff;
          text-align: center;
          font-size: 20px;
          line-height: 2;
          @include mediaQuerySp($spMaxWidth) {
            font-size: 16px;
            line-height: 1.6;
          }
        }
        p:nth-child(2) {
          margin: 25px 0px;
          @include mediaQuerySp($spMaxWidth) {
            margin: 10px 0px;
          }
        }
      }
    }
  }
}

.service-wrapper {
  .service-inner {
    max-width: 90%;
    width: 900px;
    margin: 0px auto;
    padding: 80px 0px;
    @include mediaQuerySp($spMaxWidth) {
      padding: 60px 0px 160px;
    }
    @include mediaQuerySpSmall($sp-small-MaxWidth) {
      padding: 60px 0px;
    }
    .title {
      text-align: center;
      h3 {
        color: #E68F12;
        font-size: 14px;
        font-family: $secondary-font;
        font-weight: 600;
        @include mediaQuerySp($spMaxWidth) {
          font-size: 12px;
        }
      }
      img {
        margin-top: 10px;
        height: 40px;
        @include mediaQuerySp($spMaxWidth) {
          height: 30px;
        }
      }
    }
    .body {
      h3 {
        margin-top: 60px;
        font-family: $secondary-font;
        font-weight: 600;
        @include mediaQuerySp($spMaxWidth) {
          margin-top: 30px;
        }
        img {
          height: 52px;
        }
      }
      .desc {
        margin: 20px 0px 40px;
        p {
          font-family: $jp-font-style;
          text-align: center;
          font-size: 20px;
          line-height: 2;
          font-weight: 900;
          @include mediaQuerySp($spMaxWidth) {
            font-size: 18px;
            line-height: 1.6;
          }
        }
      }
      .content {
        position: relative;
        padding-bottom: 40px;
        @include mediaQuerySp($spMaxWidth) {
          padding-bottom: 0px;
        }
        .service-img {
          width: 50%;
        }
        .service-txt {
          position: absolute;
          bottom: 0px;
          left: 0;
          width: 100%;
          padding: 0px 30px;
          @include mediaQuerySp($spMaxWidth) {
            top: 70%;
            padding: 0px 15px;
          }
          @include mediaQuerySpSmall($sp-small-MaxWidth) {
            position: relative;
            top: 0;
            bottom: 0;
            padding: 0px;
            margin-top: 40px;
          }
          .service-txt-box {
            @include createCol(3,
            30px,
            0px);
            text-align: center;
            background-color: #fff;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10);
            -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.10);
            -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.10);
            @include mediaQuerySp($spMaxWidth) {
              @include createCol(3,
              15px,
              0px);
            }
            @include mediaQuerySpSmall($sp-small-MaxWidth) {
              @include createCol(1,
              0px,
              15px);
            }
            h3 {
              margin-top: 0px;
              padding: 10px 0px;
              font-family: $jp-font-style;
              text-align: center;
              font-size: 20px;
              line-height: 2;
              font-weight: bold;
              background-color: #E68F12;
            }
            div {
              padding: 10px 0px 15px;
              p {
                text-align: center;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.recruit-wrapper {
  background-image: url('assets/img/bottom_cover.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 80px 0px;
  @include mediaQuerySp($spMaxWidth) {
    padding: 60px 15px;
  }
  .recruit-overlay {
    .recruit-inner {
      max-width: 100%;
      width: 630px;
      margin: 0px auto;
      padding: 65px 0px 80px;
      background-color: #fff;
      @include mediaQuerySp($spMaxWidth) {
        width: 90%;
      }
      .title {
        text-align: center;
        h3 {
          color: #E68F12;
          font-size: 14px;
          font-family: $secondary-font;
          font-weight: 600;
          @include mediaQuerySp($spMaxWidth) {
            font-size: 12px;
          }
        }
        img {
          height: 40px;
          margin-top: 10px;
          @include mediaQuerySp($spMaxWidth) {
            height: 30px;
          }
        }
      }
    }
    .desc {
      width: 520px;
      padding-left: 40px;
      margin: 50px auto 0px;
      text-align: left;
      @include mediaQuerySpSmall($sp-small-MaxWidth) {
        width: auto;
        padding-left: 0;
        text-align: center;
      }
      .recruit_l {
        font-size: 16px;
        font-weight: 400;
        padding: 5px 20px;
        margin: 5px 0px;
        span {
          display: inline-block;
          width: 105px;
          padding: 5px 0px;
          margin-right: 20px;
          text-align: center;
          border: 1px solid #000;
          background-color: #f0f0f0;
          @include mediaQuerySpSmall($sp-small-MaxWidth) {
            display: block;
            width: 100%;
            margin: 10px auto;
          }
        }
      }
    }
  }
}

.colleagues-work {
  width: 100%;
  background-color: $colorE89112;
  position: relative;
  margin-bottom: 40px;
  padding: 17px 0 13px;
  img {
    max-width: 430px;
    width: 75%;
    margin: 0 auto;
    display: block;
  }
  &:after {
    content: "";
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: $colorE89112 transparent transparent transparent;
    position: absolute;
    @include transform(translateX(-50%));
    left: 50%;
    bottom: -13px;
  }
}

.contact-wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  .title {
    max-width: 235px;
    width: 50%;
    margin: 0 auto 40px;
    @include mediaQuerySp($spMaxWidth) {
      max-width: 200px;
    }
  }
}

.contact-form {
  color: $color000;
  table {
    width: 100%;
    display: block;
    padding: 10px 20px 40px;
    background-color: $colorFFF;
    @include mediaQuerySp($spMaxWidth) {
      padding-bottom: 10px;
    }
  }
  tbody {
    display: block;
  }
  tr {
    width: 100%;
    border-bottom: 1.5px solid #595757;
    align-items: center;
    &:last-child {
      @include mediaQuerySp($spMaxWidth) {
        border-bottom: none;
      }
    }
  }
  td {
    padding: 30px 0;
    display: block;
    width: 70%;
    font-weight: 500;
    @include mediaQuerySp($spMaxWidth) {
      width: 100%;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      padding-top: 5px;
    }
    &:last-child {
      position: relative;
      padding: 30px 0 25px 57px;
      @include mediaQuerySp($spMaxWidth) {
        padding: 20px 0px 30px 0px;
      }
    }
  }
  .label {
    font-size: 18px;
    font-weight: 500;
    width: 25%;
    padding-left: 20px;
    @include mediaQuerySp($spMaxWidth) {
      width: 100%;
      padding: 30px 0 0 0;
      font-size: 16px;
    }
  }
  .input-field {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
    outline: none;
    border: 1px solid #595757;
    padding: 0 0 0 15px;
    font-size: 18px;
  }
  .required {
    color: $colorFFF;
    background-color: #EB1C24;
    font-size: 14px;
    padding: 2px 6px 3px 6px;
    position: absolute;
    left: 0;
    top: 39px;
    @include mediaQuerySp($spMaxWidth) {
      right: 0;
      top: -25px;
      left: auto;
      font-size: 12px;
    }
  }
  textarea.input-field {
    resize: none;
    height: 120px;
  }
}

.submit {
  input {
    width: 260px;
    margin: 40px auto;
    padding: 10px 0;
    text-align: center;
    color: $colorFFF;
    background-color: $colorE89112;
    font-size: 26px;
    outline: none;
    font-weight: 600;
    font-family: $jp-font-style;
    display: block;
    border: 1px solid $colorE89112;
    letter-spacing: 2px;
    &:hover {
      background-color: $colorFFF;
      color: $color000;
      border-color: $color000;
    }
  }
}